* {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: gray; 
}






.header row{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    flex: auto;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}

.icons-header {
    display: inline-block;
}

.icons-header .icones {
    display: inline-block;
    font-size: 22px;
    margin: 0 5px 0 5px;
}

.icons-header .icones:hover{
    color: red;
    cursor: pointer;
}
  






.content {
    display: flex;
    align-items: center;
    justify-content: center;
}






.content .content-left {
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .content-left .txt{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.content .content-left .txt h1 {
    margin: 16px 0 16px 0;
}

.content .content-left .input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content .content-left input {
    border-radius: 30px;
    outline: none;
    border-color: red;
    height: 32px;
    text-align: center;
    transition: 0.5s;
    width: 200px;
    color: black;
    margin: 5px;
}

.semDigito {
    border-radius: 30px;
    outline: none;
    background: red;
    border-color: black;
    height: 32px;
    text-align: center;
    transition: 0.5s;
    width: 200px;
    color: white;
    margin: 5px;
}





.btn-save button {
    color: white;
    background: red;
    border-radius: 30px;
    width: 200px;
    height: 32px;
    outline: none;
    transition: 0.5s;
    border: 0;
    margin-top: 10px;
}

.btn-save button:hover {
    background: rgb(129, 4, 4);
    cursor: pointer;
}






.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    margin-top: 70px;
    height: 15vh;
}

.footer .icons {
    color: white;
    margin: 5px;
    font-size: 32px;
}

.footer .icons a:hover {
    cursor: pointer;
    color: red;
}

.footer .icons a{
    color: white;
    margin: 5px;
    font-size: 32px;
}

.footer .icons:hover {
    cursor: pointer;
    color: red;
}