* {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: grey;
}






.header {
    background: grey;
}


.header row{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    flex: auto;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}

.icons-header {
    display: inline-block;
}

.icons-header .icones {
    display: inline-block;
    font-size: 22px;
    margin: 0 5px 0 5px;
}

.icons-header .icones:hover{
    color: red;
    cursor: pointer;
}







.products {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4f4f4f;
    border-radius: 8px;
}

.products .card {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px 0 16px;
    height: 186px;
}

.products img {
    display: flex;
    height: 204px;
    width: 200px;
    border-radius: 8px;
}

.products .card .rigth {
    display: flex;
}

.products .card .rigth .txtPrice .rating {
    padding: 6px 0 6px 0;
}

.products .card .qntd {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products .card .qntd input {
    margin: 4px;
    width: 40px;
}

.products .card .qntd .btnRemove {
    background: red;
    outline: none;
    border: 0;
    border-radius: 8px;
    padding: 6px;
    transition: 0.5s;
    margin-top: 8px;
}

.products .card .qntd .btnRemove:hover {
    background: #b80000;
    cursor: pointer;
}

.buy .btnBuy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.buy .btnBuy .bBuy {
    background: red;
    border: 0;
    border-radius: 8px;
    padding: 12px;
    outline: none;
    transition: 0.5s;
    margin-bottom: 60px;
}

.buy .btnBuy .bBuy:hover {
    background: #b80000;
    cursor: pointer;
}

.card_pay {
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
}

.card_pay .methods {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.card_pay p {
    font-size: 16px;
}

.card_pay p i {
    font-size: 22px;
}








.footer {
display: flex;
align-items: center;
justify-content: center;
background: black;
margin-top: 70px;
height: 15vh;
}

.footer .icons {
color: white;
margin: 5px;
font-size: 32px;
}

.footer .icons a:hover {
cursor: pointer;
color: red;
}

.footer .icons a{
color: white;
margin: 5px;
font-size: 32px;
}

.footer .icons:hover {
cursor: pointer;
color: red;
}